<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>

  <body>
    <div id=background>

    </div>
    <ul id="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/members/senate">Senate Members</a></li>
      <li><a href="/members/house">House Members</a></li>
      <li style="float:right"><form action="/search/?input=input_value">
        <input id="search-box" type="text" name="input" >
        <input type="submit" value="Submit">
      </form></li>
    </ul>
  </body>
</html>
